.w
{
    &--lg
    {
        width: 40%;
    }
    &--xlg
    {
        width:49%;
    }
    &--m
    {
        width: 30%;
    }
    &--m-2
    {
        width:35%;
    }
    &--s
    {
        width:22%;
    }
}