html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.5em;
    color: beige;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container
{
    max-width:1180px;
    margin: 0 auto;
}